/*
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Bilbo");
html {
  height: 100%; }

#body-wrapper .container {
  padding: 2rem 0 2rem; }
.header-fixed #body-wrapper {
  padding-top: 4rem; }

.header-fixed .hero + #start > #body-wrapper {
  padding-top: 0; }

section.section {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative; }

.overlay-light, .overlay-dark, .overlay-light-gradient, .overlay-dark-gradient {
  z-index: 0; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 7rem;
  background-size: cover;
  background-position: center; }
  .hero.hero-fullscreen {
    height: 100vh; }
  .hero.hero-large {
    height: 500px; }
  .hero.hero-medium {
    height: 400px; }
  .hero.hero-small {
    height: 110px; }
  .hero.hero-tiny {
    height: 8rem; }
  .header-fixed .hero {
    background-position: 50% 0; }
  .hero h1 {
    color: #242931;
    font-size: 4rem !important; }
  .hero h2 {
    color: rgba(36, 41, 49, 0.8);
    font-size: 2.5rem !important; }
  .hero h1 + h2 {
    margin-top: -45px !important; }
  .hero.text-light h1 {
    color: #fff; }
  .hero.text-light h2 {
    color: rgba(255, 255, 255, 0.8); }
  .hero p {
    font-size: 130%;
    font-weight: 300; }
  .hero #to-start {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
    cursor: pointer; }

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }
  .overlay-light .image-overlay {
    background: rgba(255, 255, 255, 0.4); }
  .overlay-light-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)); }
  .overlay-dark .image-overlay {
    background: rgba(0, 0, 0, 0.4); }
  .overlay-dark-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)); }

.title-center h1, .title-center h2 {
  text-align: center; }

.title-h1h2 h1 {
  font-weight: 100; }
  .title-h1h2 h1 strong, .title-h1h2 h1 bold {
    font-weight: 400; }

.title-h1h2 h1 + h2, .title-center h1 + h2 {
  margin-top: -35px;
  margin-bottom: 50px;
  font-weight: 700; }

a:focus {
  outline: none !important; }

img {
  max-width: 100%; }

pre:not(.phpdebugbar-widgets-code-block) code {
  background: #f8f8f8;
  display: block;
  padding: 1rem !important;
  line-height: 1.5;
  color: inherit;
  border-radius: 2px;
  overflow-x: auto; }

pre.xdebug-var-dump {
  background: #f8f8f8;
  display: block;
  padding: 1rem !important;
  line-height: 1.5;
  color: inherit;
  border-radius: 2px;
  overflow-x: auto; }

i.fa {
  font-size: 130%;
  vertical-align: middle;
  margin-top: -3px; }
  i.fa.fa-heart.pulse, i.fa.fa-heart-o.pulse {
    color: #920; }

b,
strong {
  font-weight: 700; }

.heavy {
  font-weight: 700; }

.light {
  font-weight: 200; }

.text-light {
  color: rgba(255, 255, 255, 0.8); }
  .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
    color: rgba(255, 255, 255, 0.9); }

#error {
  text-align: center;
  position: relative;
  margin-top: 5rem; }
  #error .icon {
    font-size: 50px; }

#messages {
  margin-bottom: 1rem; }
  #messages .icon {
    font-size: 120%; }

.notices {
  margin: 1.5rem 0; }
  .notices p {
    margin: 1rem 0; }

form .button-wrapper {
  margin-top: 0.75rem;
  margin-bottom: 1rem; }
form span.required {
  color: #e85600;
  font-weight: 700;
  font-size: 150%; }
form .form-input[type=range] {
  appearance: slider-horizontal; }
  form .form-input[type=range]:focus {
    box-shadow: none;
    border: none; }

.mobile-container {
  position: absolute;
  top: 40%;
  left: 0;
  margin: 0 auto;
  z-index: 2; }

.mobile-logo svg {
  max-width: 150px;
  margin-top: 1rem;
  margin-left: 1.4rem; }
  .mobile-logo svg path {
    fill: #fff; }

.mobile-menu {
  display: none;
  top: 0;
  right: 0;
  z-index: 3; }
  .header-fixed .mobile-menu {
    position: fixed; }
  @media (max-width: 840px) {
    .mobile-menu {
      display: block; } }
  .mobile-menu .button_container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease, top 0.5s ease; }
    .mobile-menu .button_container:hover {
      opacity: .7; }
    .mobile-menu .button_container.active {
      position: fixed; }
      .mobile-menu .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF; }
      .mobile-menu .button_container.active .middle {
        opacity: 0;
        background: #FFF; }
      .mobile-menu .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF; }
    .mobile-menu .button_container span {
      background: #3085EE;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer; }
      .mobile-menu .button_container span:nth-of-type(2) {
        top: 11px; }
      .mobile-menu .button_container span:nth-of-type(3) {
        top: 22px; }

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s; }
  .overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%; }
  .overlay nav {
    position: relative;
    margin: 0 auto;
    text-align: center; }

.overlay-menu {
  height: calc(100% - 90px);
  overflow-y: scroll; }
  .overlay-menu > .tree {
    text-align: left; }

.treemenu.treemenu-root {
  margin: 1rem; }
.treemenu li {
  list-style: none;
  margin: 0 0 1px;
  padding: 5px 0;
  line-height: 1.2rem;
  background: rgba(102, 113, 137, 0.1); }
  .treemenu li a {
    display: block;
    margin-left: 1.2rem;
    font-size: 1rem; }
    .treemenu li a:hover, .treemenu li a:focus, .treemenu li a.active {
      color: #4893f0 !important;
      text-decoration: none; }
.treemenu ul {
  margin: 0 0 0 1rem; }
.treemenu .toggler {
  cursor: pointer;
  vertical-align: top;
  font-size: 1.1rem;
  line-height: 1rem;
  padding-left: 5px;
  float: left; }
  .treemenu .toggler:before {
    display: inline-block;
    margin-right: 2pt; }
.treemenu li.tree-empty > .toggler {
  opacity: 0.3;
  cursor: default; }
  .treemenu li.tree-empty > .toggler:before {
    content: "\2022"; }
.treemenu li.tree-closed > .toggler:before {
  content: "+"; }
.treemenu li.tree-opened > .toggler:before {
  content: "\2212"; }

.mobile-nav-open {
  overflow-y: hidden; }

.default-animation, #header, #header .navbar-section, #header .logo svg, #modular-features.small .feature-icon i, #modular-features .feature-icon {
  transition: all 0.5s ease; }

.pulse {
  animation-name: pulse_animation;
  animation-duration: 2000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
#header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(172, 179, 194, 0.2);
  font-size: 0.7rem;
  font-weight: 700;
  background: #fff;
  color: #454d5d; }
  #header a {
    color: #454d5d; }
  #header .logo svg path {
    fill: #222; }
  .header-dark #header:not(.scrolled) {
    background: #222;
    color: #fff; }
    .header-dark #header:not(.scrolled) a {
      color: rgba(255, 255, 255, 0.7) !important; }
    .header-dark #header:not(.scrolled) a.active {
      color: #fff !important; }
    .header-dark #header:not(.scrolled) .dropmenu ul ul a {
      color: #454d5d !important; }
    .header-dark #header:not(.scrolled) .logo svg path {
      fill: #fff; }
  .header-dark.header-transparent #header:not(.scrolled) {
    background: rgba(0, 0, 0, 0.05); }
  .header-transparent #header:not(.scrolled) {
    background: rgba(255, 255, 255, 0.05); }
  #header .navbar-section {
    height: 4rem; }
  #header .logo svg {
    width: 150px;
    display: inherit; }
  .header-fixed #header {
    position: fixed;
    top: 0;
    z-index: 2; }

body.header-fixed.header-animated #header.scrolled {
  height: 2.3rem; }
  body.header-fixed.header-animated #header.scrolled .navbar-section {
    height: 2.3rem; }
  body.header-fixed.header-animated #header.scrolled .logo svg {
    width: 100px; }
  body.header-fixed.header-animated #header.scrolled ~ .mobile-menu .button_container {
    top: 0.5rem; }

.login-status-wrapper {
  white-space: nowrap; }
  .login-status-wrapper .icon {
    font-size: 120%; }

body.sticky-footer {
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body.sticky-footer #page-wrapper {
    flex: 1; }

#footer {
  color: #acb3c2;
  padding: 1rem 1rem 0;
  text-align: center; }

@media (max-width: 840px) {
  .dropmenu {
    display: none; } }
.dropmenu ul {
  white-space: nowrap;
  margin: 0;
  display: flex; }
  .dropmenu ul li {
    position: relative;
    margin: 0; }
    .dropmenu ul li a {
      text-decoration: none;
      padding: 7px 30px 7px 20px;
      display: block; }
      .dropmenu ul li a:hover, .dropmenu ul li a:focus, .dropmenu ul li a.active {
        color: #3085EE !important; }
      .dropmenu ul li a:before {
        content: '\f110';
        font-family: 'FontAwesome';
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-right: -20px; }
      .dropmenu ul li a:only-child {
        padding-right: 20px; }
        .dropmenu ul li a:only-child:before {
          content: ''; }
    .dropmenu ul li:hover > ul {
      display: block;
      visibility: visible; }
  .dropmenu ul ul li a:before {
    content: '\f112'; }
  .dropmenu ul ul {
    position: absolute;
    top: 100%;
    list-style: none;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    visibility: hidden; }
    .dropmenu ul ul ul {
      position: absolute;
      left: 100%;
      top: 0; }
.dropmenu > ul > li {
  display: inline-block; }
.dropmenu.animated ul li {
  transition: background .7s, color 0.5s; }
.dropmenu.animated ul li:hover > ul {
  opacity: 1;
  transform: translateY(0); }
.dropmenu.animated ul ul {
  transition: transform .3s, opacity .5s;
  opacity: 0;
  transform: translateY(-10px); }

/** Extra columns spacing **/
.extra-spacing:not(.col-12), :not(.col12) > .e-content {
  padding-right: 1rem; }
  @media (max-width: 840px) {
    .extra-spacing:not(.col-12), :not(.col12) > .e-content {
      padding-right: 0; } }

/** Breadcrumbs styling **/
#breadcrumbs {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem; }
  #breadcrumbs i {
    display: none; }
  #breadcrumbs span, #breadcrumbs a {
    padding: 0 0.5rem; }
    #breadcrumbs span:first-child, #breadcrumbs a:first-child {
      padding-left: 0; }
  #breadcrumbs span:not(:first-child)::before, #breadcrumbs a:not(:first-child)::before {
    color: #e7e9ed;
    content: "/";
    padding-right: 1rem; }

/** Blog Listing **/
.blog-listing .bricklayer-column {
  padding-left: 0px;
  padding-right: 25px; }
.blog-listing .card {
  margin-bottom: 25px;
  border: 0;
  box-shadow: 0 10px 45px -9px rgba(0, 0, 0, 0.1); }
.blog-listing .card-footer {
  text-align: right; }
.blog-listing .blog-date {
  font-size: 13px; }

/** Blog Item **/
.content-title {
  margin-bottom: 2rem; }
  .content-title h2 {
    margin-bottom: 0.5rem; }

.label {
  font-size: 12px;
  text-transform: uppercase; }

/** Pagination **/
ul.pagination {
  justify-content: center; }

.prev-next {
  margin-top: 4rem; }

/** Sidebar specific tweaks **/
#sidebar ul.related-pages {
  box-shadow: none;
  padding: 0; }
  #sidebar ul.related-pages li {
    border-bottom: 1px solid #e7e9ed; }
    #sidebar ul.related-pages li:last-child {
      border-bottom: 0; }
#sidebar ul.archives {
  list-style: none;
  margin-left: 0; }
  #sidebar ul.archives .label {
    vertical-align: text-top; }

#modular-hero #to-start {
  bottom: 3.5rem; }

#modular-features {
  text-align: center; }
  #modular-features.offset-box .frame-box {
    margin: -3rem -1.4rem 3rem;
    padding: 1rem 1rem;
    background: #fff;
    box-shadow: 0 0 75px 0 rgba(69, 77, 93, 0.1); }
  #modular-features.small .columns {
    margin-top: -1rem; }
  #modular-features.small .column:hover .feature-icon i {
    color: #3085EE; }
  #modular-features.small .feature-icon {
    display: block;
    justify-content: left; }
    #modular-features.small .feature-icon i {
      position: relative;
      display: inherit;
      font-size: 64px;
      margin: 0 auto 1rem;
      transform: none;
      left: auto;
      top: auto;
      color: #acb3c2; }
    #modular-features.small .feature-icon h6 {
      text-transform: none; }
  #modular-features .frame-box {
    padding: 3rem 0; }
    #modular-features .frame-box > p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
  #modular-features .column {
    padding: 1rem; }
    #modular-features .column:hover .feature-icon {
      color: #acb3c2; }
      #modular-features .column:hover .feature-icon h6 {
        color: #3085EE; }
    #modular-features .column:hover .feature-content {
      color: #667189; }
  #modular-features .feature-icon {
    font-size: 100px;
    height: 100px;
    color: #f6f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0; }
    #modular-features .feature-icon i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%); }
    #modular-features .feature-icon h6 {
      background: #fff;
      line-height: 1;
      z-index: 1;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
      display: block;
      color: #667189; }
  #modular-features .feature-content {
    color: #acb3c2; }

#modular-text {
  padding-top: 4rem;
  padding-bottom: 4rem; }

/*
.talla, .color {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    border: solid 3px #EEE;
    cursor: pointer;
    &.selected {
        border-color: #1BB3E9;
    }
}*/
* {
  transition-duration: 0.5s; }

.option {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border: solid 3px #EEE;
  cursor: pointer;
  margin: 2px; }
  .option.selected {
    border-color: #1BB3E9; }
  .option.disabled {
    opacity: 0.1; }

.button.snipcart-add-item {
  margin-top: 2rem;
  background-color: #000000;
  color: #fff;
  height: inherit;
  padding: 1rem 2rem;
  border: solid 1px #FFF;
  font-size: 0.9rem; }
  .button.snipcart-add-item:hover {
    background-color: #1bb3e9; }
  .button.snipcart-add-item.disabled {
    color: #AAA;
    background: rgba(27, 179, 233, 0.2); }
    .button.snipcart-add-item.disabled:hover {
      background-color: transparent; }

.thumbsX {
  height: 600px;
  overflow: auto; }
  .thumbsX::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

body {
  background-color: #F5F5F5; }
  body * {
    font-family: 'Lato', 'Serif'; }
  body h1 {
    font-size: 2rem; }
  body img.logo-liliana {
    max-width: 100px;
    box-shadow: 0px 0px 10px #888; }
    @media (max-width: 840px) {
      body img.logo-liliana {
        max-width: 80px; } }
  body.homepage img.logo-liliana {
    max-width: 200px; }
    @media (max-width: 840px) {
      body.homepage img.logo-liliana {
        max-width: 100px; } }
  body.homepage .scrolled img.logo-liliana {
    max-width: 100px; }
    @media (max-width: 840px) {
      body.homepage .scrolled img.logo-liliana {
        max-width: 80px; } }
  body.homepage .grav-lightslider {
    margin-top: -48px; }
  body #header {
    background-color: #000000; }
    body #header .navbar-section.logo {
      height: auto;
      text-align: center; }
      body #header .navbar-section.logo a {
        margin: 5px auto; }
  body .snipcart-categories {
    margin-top: 2rem; }
    body .snipcart-categories .snipcart-item.block {
      width: 12.5%;
      padding-top: 0;
      position: relative; }
      @media (max-width: 840px) {
        body .snipcart-categories .snipcart-item.block {
          width: 20%; } }
      @media (max-width: 600px) {
        body .snipcart-categories .snipcart-item.block {
          width: 25%; } }
      body .snipcart-categories .snipcart-item.block .snipcart-thumb {
        width: 85%;
        opacity: 0.9; }
        body .snipcart-categories .snipcart-item.block .snipcart-thumb:hover {
          opacity: 1; }
        body .snipcart-categories .snipcart-item.block .snipcart-thumb a {
          display: block; }
      body .snipcart-categories .snipcart-item.block .category-title {
        text-align: center; }
        body .snipcart-categories .snipcart-item.block .category-title h3 {
          display: inline-block;
          width: auto;
          margin: 0 auto;
          padding: 0;
          font-size: 0.5rem; }
          @media (max-width: 840px) {
            body .snipcart-categories .snipcart-item.block .category-title h3 {
              font-size: 0.8rem; } }
          body .snipcart-categories .snipcart-item.block .category-title h3 a {
            color: #A630EE; }
      body .snipcart-categories .snipcart-item.block img {
        margin: 0;
        padding: 0;
        box-shadow: 0 0 10px #888888;
        border-radius: 3px; }
        body .snipcart-categories .snipcart-item.block img:hover {
          box-shadow: 0 0 10px #222222; }
      body .snipcart-categories .snipcart-item.block h3 {
        margin: 0;
        padding: 0; }
  body .snipcart-checkout i {
    font-size: 1.5rem;
    line-height: 1rem;
    color: #DDDDDD;
    background: url("../images/bolsa.png") center center no-repeat;
    display: block;
    width: 25px;
    height: 30px;
    background-size: contain; }
  body #snipcart-detail {
    padding-top: 0; }
    body #snipcart-detail h1 {
      font-size: 1.5rem;
      margin: 1rem 0 1.5rem 0; }
    body #snipcart-detail label {
      font-weight: bold; }
    body #snipcart-detail .snipcart-img {
      position: relative;
      padding: 1rem; }
      body #snipcart-detail .snipcart-img .snipcart-price {
        position: absolute;
        top: 0;
        margin-top: -30px;
        right: -40px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        width: 80px;
        background: #e74c3c;
        border-radius: 100%;
        color: #fff;
        background-color: #555555; }
        @media (max-width: 840px) {
          body #snipcart-detail .snipcart-img .snipcart-price {
            right: -10px; } }
        body #snipcart-detail .snipcart-img .snipcart-price .moneda {
          position: absolute;
          top: 17px;
          right: 20px;
          font-size: 0.5rem; }
  body .snipcart-thumb img {
    padding: 1rem; }
  body .snipcart-thumb .snipcart-price {
    right: 5px; }
    body .snipcart-thumb .snipcart-price .moneda {
      position: absolute;
      top: 16px;
      right: 15px;
      font-size: 0.5rem; }
  body .snipcart-summary {
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%); }
  body .category-products .bloque-producto {
    margin: 0 auto;
    position: relative; }
    body .category-products .bloque-producto .snipcart-item.block {
      width: 100%; }
      body .category-products .bloque-producto .snipcart-item.block h3 {
        display: none; }
      body .category-products .bloque-producto .snipcart-item.block .snipcart-details {
        display: none; }
      body .category-products .bloque-producto .snipcart-item.block .snipcart-thumb {
        width: 100%; }
        body .category-products .bloque-producto .snipcart-item.block .snipcart-thumb img {
          width: 100%; }
    body .category-products .bloque-producto .labels {
      font-size: 1rem;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem; }
      body .category-products .bloque-producto .labels label {
        background-color: rgba(100, 100, 100, 0.5);
        border-radius: 10px;
        padding: 0.1rem 1rem;
        color: #000;
        font-family: 'Bilbo';
        color: #FFFFFF; }
        body .category-products .bloque-producto .labels label.oferta {
          background-color: #e74c3c;
          color: #FFFFFF; }
        body .category-products .bloque-producto .labels label.temporada {
          background-color: #888888;
          color: #FFFFFF; }
  body .category-products .productos-oferta {
    text-align: center; }
    body .category-products .productos-oferta h4 {
      font-size: 1rem;
      color: #444; }
  body .category-products .productos-temporada {
    text-align: center; }
    body .category-products .productos-temporada h4 {
      font-size: 1rem;
      color: #000; }
    body .category-products .productos-temporada .bloque-producto {
      margin: 0 auto; }
    body .category-products .productos-temporada .snipcart-item.block h3 {
      display: none; }
    body .category-products .productos-temporada .snipcart-item.block .snipcart-details {
      display: none; }
    body .category-products .productos-temporada .snipcart-item.block .snipcart-price {
      background-color: #AAAAAA; }
  body .category-products .vertical-menu a {
    display: block;
    line-height: 1.8rem;
    margin-left: 1rem; }
    body .category-products .vertical-menu a:hover {
      margin-left: 1.2rem; }
  body .category-products .banner-coleccion .banner {
    background-color: #CC00FF;
    width: 100%;
    height: 80%; }
  body .category-products .latest-products {
    float: left; }
    body .category-products .latest-products .snipcart-item.block h3 {
      display: none; }
    body .category-products .latest-products .snipcart-item.block .snipcart-price {
      background-color: #AAAAAA; }
    body .category-products .latest-products .snipcart-item.block .snipcart-details {
      display: none; }
  body .mobile-menu .button_container {
    top: 1.2rem;
    width: 30px; }
  body .mobile-menu .button_container span {
    background: #666;
    height: 3px; }
  body .mobile-menu .button_container span:nth-of-type(2) {
    top: 9px; }
  body .mobile-menu .button_container span:nth-of-type(3) {
    top: 18px; }

div.config {
  display: inline-block;
  float: right;
  width: 50px;
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  /*
      .language-selector {
          position: relative;
          display: inline-block;
          float: none;
          top: inherit;
          margin: 1rem !important;
          z-index: 1;
      }
  
      .currency_selector {
          margin: 1rem;
          display: inline-block;
          //float: right;
          position: relative;
          //top: 50%;
          vertical-align: middle;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          //margin: 0 1rem !important;
          display: inline-block;
   
      }    
  
  */ }
  div.config .toggler {
    position: relative;
    text-align: right;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #DDDDDD;
    font-size: 1.3rem;
    cursor: pointer; }
    div.config .toggler:hover {
      color: #0e6e90; }
  div.config .config-items {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    border: solid 1px #E5E5E5;
    z-index: 1;
    padding: 1.5rem 0.5rem 1rem;
    background-color: #FFFFFF;
    width: 220px;
    box-shadow: 0 0 9px #DDD; }
  div.config .config-item {
    margin-bottom: 1rem; }
  div.config label {
    display: block;
    text-align: left;
    padding-right: 0.5rem;
    font-size: 0.5rem;
    border-bottom: solid 1px #EEE;
    text-transform: uppercase; }
  div.config .lenguaje label {
    margin-bottom: 1rem; }
  div.config div.opcion {
    line-height: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0 0.7rem; }
    div.config div.opcion.current {
      background-color: #CEF;
      border: solid 1px  #ADF; }

#header nav a {
  font-family: 'Lato', 'Serif' !important;
  font-weight: 300;
  text-transform: uppercase; }
#header nav ul {
  z-index: 2; }
@media (max-width: 840px) {
  #header nav .cart-config {
    margin-right: 33px; } }
#header nav .dropmenu.animated ul.menu-level-1 ul.menu-level-2 {
  transition: transform .1s, opacity .1s; }
#header nav ul.menu-level-1 a {
  padding: 1.5rem 1rem 1.5rem 0.5rem;
  color: #FFFFFF; }
  #header nav ul.menu-level-1 a:before {
    content: none; }
#header nav .dropmenu ul li:hover > ul.menu-level-2 {
  display: flex; }
#header nav ul.menu-level-2 {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 2rem; }
  #header nav ul.menu-level-2 a {
    padding: 0.5rem;
    color: #222222; }
  #header nav ul.menu-level-2 div.menu-links {
    padding-right: 3rem; }
    #header nav ul.menu-level-2 div.menu-links li {
      border-bottom: solid 1px #bbb; }
  #header nav ul.menu-level-2 li.menu-extras {
    position: absolute;
    top: 1rem;
    left: 7rem;
    padding: 1rem; }
    #header nav ul.menu-level-2 li.menu-extras .menu-extra-block {
      float: left; }
  #header nav ul.menu-level-2 div.menu-extras {
    display: flex;
    flex-direction: row;
    position: relative; }
    #header nav ul.menu-level-2 div.menu-extras div {
      width: 210px; }
    #header nav ul.menu-level-2 div.menu-extras .link-text {
      position: absolute;
      text-align: center;
      width: 180px;
      color: #FFF;
      bottom: 68px;
      background-color: #42424280;
      font-size: 1rem;
      padding: 1rem;
      font-family: "Bilbo"; }

.copyright {
  margin-top: 2rem; }

.sucursales .sucursal {
  font-size: 0.8rem;
  margin-bottom: 2rem; }
  .sucursales .sucursal .fa {
    color: #666; }
  .sucursales .sucursal .titulo {
    font-family: Bilbo;
    font-size: 1rem; }
  .sucursales .sucursal h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: Bilbo; }
  .sucursales .sucursal .social {
    margin-top: 1.5rem;
    font-size: 1.2rem; }

#footer {
  padding-top: 3rem;
  background-color: #DDDDDD;
  color: #000000; }

/*# sourceMappingURL=lili.css.map */
