<div class="footer sucursales columns">
    <div class="sucursal column col-4">
        <div class="titulo">Sucursal Rio</div>
        <div class="direccion">Paseo del Río #16220-4E, Río Tijuana 3a. Etapa, 22226 Tijuana, B.C.</div>
        <div class="telefono">01 664 625 0777</div>
    </div>
    <div class="sucursal column col-4">
        <div class="titulo">Sucursal Aguacaliente</div>
        <div class="direccion">Blvd. Fundadores esq. Aguacaliente #8431-15, Col. Cacho 22040, Tijuana, B.C. </div>
        <div class="telefono">01 664 634 0672</div>       
    </div>
    <div class="sucursal column col-4">
        <div class="titulo">Sucursal Girasol</div>
        <div class="direccion">Blvd. Cucapah #22741-12 Villa Fontana I 22205 , Tijuana, B.C.</div>
        <div class="telefono">01 664 103 4613</div>       
        
    </div>
    
</div>

